<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Actions</key>
  <array>
    <dict>
      <key>Image File</key>
      <string>Clock-Icon.png</string>
      <key>Shell Script File</key>
      <string>TimeStream.sh</string>
      <key>Title</key>
      <string>TimeStream</string>
    </dict>
  </array>
  <key>Extension Description</key>
  <string>Adds the string as a new time tracking activity in TimeStreamApp.com.</string>
  <key>Extension Identifier</key>
  <string>com.ahmadvaroqua.popclip.extension.timestream</string>
  <key>Extension Name</key>
  <string>TimeStream</string>
</dict>
</plist>
